src/AbaConnect_DocumentDossierAccountsReceivable/Connected Services/AbaConnect.Debtors/DocumentDossierAccountsReceivableTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:act="http://www.abacus.ch/abaconnect/2007.10/core/AbaConnectTypes" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:documentdossieraccountsreceivabletypes="http://www.abacus.ch/abaconnect/2009.00/debi/DocumentDossierAccountsReceivableTypes" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.abacus.ch/abaconnect/2009.00/debi/DocumentDossierAccountsReceivableTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="AbaConnectTypes.xsd" namespace="http://www.abacus.ch/abaconnect/2007.10/core/AbaConnectTypes" />
  <xs:import schemaLocation="xmlmime.xsd" namespace="http://www.w3.org/2005/05/xmlmime" />
  <xs:element name="DocumentDossierAccountsReceivableAbaDefault" type="documentdossieraccountsreceivabletypes:DocumentDossierAccountsReceivableAbaDefaultType">
    <xs:annotation>
      <xs:documentation>DocumentDossierAccountsReceivable-Doc. dossier: Dossier</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DocumentDossierAccountsReceivableAbaDefaultType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentDossier" type="documentdossieraccountsreceivabletypes:DocumentDossierComType" />
      <xs:element minOccurs="0" name="AdditionalData" type="act:ObjectDataType" />
      <xs:element minOccurs="0" name="Attachment" type="documentdossieraccountsreceivabletypes:AttachmentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentDossierComType">
    <xs:sequence>
      <xs:element name="Number" type="documentdossieraccountsreceivabletypes:NumberSimType">
        <xs:annotation>
          <xs:documentation>Doc. number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Dossier" type="documentdossieraccountsreceivabletypes:DossierComType" />
    </xs:sequence>
    <xs:attribute name="mode" type="documentdossieraccountsreceivabletypes:ModeSimType" use="optional" />
  </xs:complexType>
  <xs:simpleType name="ModeSimType">
    <xs:restriction base="xs:string">
      <xs:pattern value="SAVE" />
      <xs:pattern value="INSERT" />
      <xs:pattern value="UPDATE" />
      <xs:pattern value="READ" />
      <xs:pattern value="DELETE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumberSimType">
    <xs:restriction base="xs:long">
      <xs:totalDigits value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DossierComType">
    <xs:sequence>
      <xs:element name="DossierName" type="documentdossieraccountsreceivabletypes:DossierNameSimType">
        <xs:annotation>
          <xs:documentation>Name of the dossier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DocumentName" type="documentdossieraccountsreceivabletypes:DocumentNameSimType">
        <xs:annotation>
          <xs:documentation>Name of the document</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DocumentId" type="documentdossieraccountsreceivabletypes:DocumentIdSimType">
        <xs:annotation>
          <xs:documentation>Unique number of the document</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Filename" type="documentdossieraccountsreceivabletypes:FilenameSimType">
        <xs:annotation>
          <xs:documentation>File name for this transaction</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="OriginalFilename" type="documentdossieraccountsreceivabletypes:OriginalFilenameSimType">
        <xs:annotation>
          <xs:documentation>Original file name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="mode" type="documentdossieraccountsreceivabletypes:ModeSimType" use="optional" />
  </xs:complexType>
  <xs:simpleType name="DossierNameSimType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DocumentNameSimType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="200" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DocumentIdSimType">
    <xs:restriction base="xs:long">
      <xs:totalDigits value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FilenameSimType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="OriginalFilenameSimType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:complexType name="AttachmentType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="BinaryData" type="documentdossieraccountsreceivabletypes:BinaryDataType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BinaryDataType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" />
      <xs:element name="BinData" type="xmime:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>