src/AbaConnect_DocumentDossierAccountsReceivable/wsdl/address_2018_00/address.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!--WSDL has been written by ABACUS AbaConnect-->
<wsdl:definitions name='address' targetNamespace='http://www.abacus.ch/abaconnect/adre/address' xmlns:tns='http://www.abacus.ch/abaconnect/adre/address' xmlns:act='http://www.abacus.ch/abaconnect/2007.10/core/AbaConnectTypes' xmlns:addresstypes='http://www.abacus.ch/abaconnect/2018.00/adre/addressTypes' xmlns:address='http://www.abacus.ch/abaconnect/2018.00/adre/address' xmlns:xs='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
  <wsdl:types>
    <xs:schema>
      <xs:import namespace='http://www.abacus.ch/abaconnect/2018.00/adre/address' schemaLocation='address.xsd'/>
      <xs:import namespace='http://www.abacus.ch/abaconnect/2018.00/adre/addressTypes' schemaLocation='addressTypes.xsd'/>
      <xs:import namespace='http://www.abacus.ch/abaconnect/2007.10/core/AbaConnectTypes' schemaLocation='AbaConnectTypes.xsd'/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name='DeleteRequest'>
    <wsdl:part name='request' element='address:DeleteRequest'/>
  </wsdl:message>
  <wsdl:message name='DeleteResponse'>
    <wsdl:part name='response' element='address:DeleteResponse'/>
  </wsdl:message>
  <wsdl:message name='InsertRequest'>
    <wsdl:part name='request' element='address:InsertRequest'/>
  </wsdl:message>
  <wsdl:message name='InsertResponse'>
    <wsdl:part name='response' element='address:InsertResponse'/>
  </wsdl:message>
  <wsdl:message name='UpdateRequest'>
    <wsdl:part name='request' element='address:UpdateRequest'/>
  </wsdl:message>
  <wsdl:message name='UpdateResponse'>
    <wsdl:part name='response' element='address:UpdateResponse'/>
  </wsdl:message>
  <wsdl:message name='SaveRequest'>
    <wsdl:part name='request' element='address:SaveRequest'/>
  </wsdl:message>
  <wsdl:message name='SaveResponse'>
    <wsdl:part name='response' element='address:SaveResponse'/>
  </wsdl:message>
  <wsdl:message name='DefaultValuesRequest'>
    <wsdl:part name='request' element='address:DefaultValuesRequest'/>
  </wsdl:message>
  <wsdl:message name='DefaultValuesResponse'>
    <wsdl:part name='response' element='address:DefaultValuesResponse'/>
  </wsdl:message>
  <wsdl:message name='FindRequest'>
    <wsdl:part name='request' element='address:FindRequest'/>
  </wsdl:message>
  <wsdl:message name='FindResponse'>
    <wsdl:part name='response' element='address:FindResponse'/>
  </wsdl:message>
  <wsdl:message name='LoginResponse'>
    <wsdl:part name='loginResponse' element='act:LoginResponse'/>
  </wsdl:message>
  <wsdl:message name='LogoutResponse'>
    <wsdl:part name='logoutResponse' element='act:LogoutResponse'/>
  </wsdl:message>
  <wsdl:message name='AbaConnectFault'>
    <wsdl:part name='exception' element='act:AbaConnectFault'/>
  </wsdl:message>
  <wsdl:message name='PingRequest'>
    <wsdl:part name='pingRequest' element='act:PingRequest'/>
  </wsdl:message>
  <wsdl:message name='PingResponse'>
    <wsdl:part name='pingResponse' element='act:PingResponse'/>
  </wsdl:message>
  <wsdl:message name='CheckInteroperability'>
    <wsdl:part name='checkInteroperability' element='act:CheckInteroperability'/>
  </wsdl:message>
  <wsdl:message name='CheckInteroperabilityResponse'>
    <wsdl:part name='checkInteroperabilityResponse' element='act:CheckInteroperabilityResponse'/>
  </wsdl:message>
  <wsdl:message name='IsSessionAlive'>
    <wsdl:part name='isSessionAlive' element='act:IsSessionAlive'/>
  </wsdl:message>
  <wsdl:message name='IsSessionAliveResponse'>
    <wsdl:part name='isSessionAliveResponse' element='act:IsSessionAliveResponse'/>
  </wsdl:message>
  <wsdl:message name='Login'>
    <wsdl:part name='login' element='act:Login'/>
  </wsdl:message>
  <wsdl:message name='Logout'>
    <wsdl:part name='logout' element='act:Logout'/>
  </wsdl:message>
  <wsdl:message name='IsFinished'>
    <wsdl:part name='isFinished' element='address:IsFinishedRequest'/>
  </wsdl:message>
  <wsdl:message name='IsFinishedResponse'>
    <wsdl:part name='isFinishedResponse' element='address:IsFinishedResponse'/>
  </wsdl:message>
  <wsdl:portType name='addressPort'>
    <wsdl:operation name='login'>
      <wsdl:input message='tns:Login'/>
      <wsdl:output message='tns:LoginResponse'/>
      <wsdl:fault name='AbaConnectFault' message='tns:AbaConnectFault'/>
    </wsdl:operation>
    <wsdl:operation name='logout'>
      <wsdl:input message='tns:Logout'/>
      <wsdl:output message='tns:LogoutResponse'/>
      <wsdl:fault name='AbaConnectFault' message='tns:AbaConnectFault'/>
    </wsdl:operation>
    <wsdl:operation name='ping'>
      <wsdl:input message='tns:PingRequest'/>
      <wsdl:output message='tns:PingResponse'/>
      <wsdl:fault name='AbaConnectFault' message='tns:AbaConnectFault'/>
    </wsdl:operation>
    <wsdl:operation name='isFinished'>
      <wsdl:input message='tns:IsFinished'/>
      <wsdl:output message='tns:IsFinishedResponse'/>
      <wsdl:fault name='AbaConnectFault' message='tns:AbaConnectFault'/>
    </wsdl:operation>
    <wsdl:operation name='interoperabilityTest'>
      <wsdl:input message='tns:CheckInteroperability'/>
      <wsdl:output message='tns:CheckInteroperabilityResponse'/>
      <wsdl:fault name='AbaConnectFault' message='tns:AbaConnectFault'/>
    </wsdl:operation>
    <wsdl:operation name='isAlive'>
      <wsdl:input message='tns:IsSessionAlive'/>
      <wsdl:output message='tns:IsSessionAliveResponse'/>
      <wsdl:fault name='AbaConnectFault' message='tns:AbaConnectFault'/>
    </wsdl:operation>
    <wsdl:operation name='delete'>
      <wsdl:input message='tns:DeleteRequest'/>
      <wsdl:output message='tns:DeleteResponse'/>
      <wsdl:fault name='AbaConnectFault' message='tns:AbaConnectFault'/>
    </wsdl:operation>
    <wsdl:operation name='insert'>
      <wsdl:input message='tns:InsertRequest'/>
      <wsdl:output message='tns:InsertResponse'/>
      <wsdl:fault name='AbaConnectFault' message='tns:AbaConnectFault'/>
    </wsdl:operation>
    <wsdl:operation name='update'>
      <wsdl:input message='tns:UpdateRequest'/>
      <wsdl:output message='tns:UpdateResponse'/>
      <wsdl:fault name='AbaConnectFault' message='tns:AbaConnectFault'/>
    </wsdl:operation>
    <wsdl:operation name='save'>
      <wsdl:input message='tns:SaveRequest'/>
      <wsdl:output message='tns:SaveResponse'/>
      <wsdl:fault name='AbaConnectFault' message='tns:AbaConnectFault'/>
    </wsdl:operation>
    <wsdl:operation name='defaultValues'>
      <wsdl:input message='tns:DefaultValuesRequest'/>
      <wsdl:output message='tns:DefaultValuesResponse'/>
      <wsdl:fault name='AbaConnectFault' message='tns:AbaConnectFault'/>
    </wsdl:operation>
    <wsdl:operation name='find'>
      <wsdl:input message='tns:FindRequest'/>
      <wsdl:output message='tns:FindResponse'/>
      <wsdl:fault name='AbaConnectFault' message='tns:AbaConnectFault'/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name='addressSOAPBinding' type='tns:addressPort'>
    <soap:binding transport='http://schemas.xmlsoap.org/soap/http' style='document'/>
    <wsdl:operation name='ping'>
      <soap:operation soapAction='ping' style='document'/>
      <wsdl:input>
        <soap:body use='literal'/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use='literal'/>
      </wsdl:output>
      <wsdl:fault name='AbaConnectFault'>
        <soap:fault name='AbaConnectFault' use='literal'/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name='isFinished'>
      <soap:operation soapAction='isFinished' style='document'/>
      <wsdl:input>
        <soap:body use='literal'/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use='literal'/>
      </wsdl:output>
      <wsdl:fault name='AbaConnectFault'>
        <soap:fault name='AbaConnectFault' use='literal'/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name='login'>
      <soap:operation soapAction='login' style='document'/>
      <wsdl:input>
        <soap:body use='literal'/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use='literal'/>
      </wsdl:output>
      <wsdl:fault name='AbaConnectFault'>
        <soap:fault name='AbaConnectFault' use='literal'/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name='logout'>
      <soap:operation soapAction='logout' style='document'/>
      <wsdl:input>
        <soap:body use='literal'/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use='literal'/>
      </wsdl:output>
      <wsdl:fault name='AbaConnectFault'>
        <soap:fault name='AbaConnectFault' use='literal'/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name='interoperabilityTest'>
      <soap:operation soapAction='interoperabilityTest' style='document'/>
      <wsdl:input>
        <soap:body use='literal'/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use='literal'/>
      </wsdl:output>
      <wsdl:fault name='AbaConnectFault'>
        <soap:fault name='AbaConnectFault' use='literal'/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name='isAlive'>
      <soap:operation soapAction='isAlive' style='document'/>
      <wsdl:input>
        <soap:body use='literal'/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use='literal'/>
      </wsdl:output>
      <wsdl:fault name='AbaConnectFault'>
        <soap:fault name='AbaConnectFault' use='literal'/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name='delete'>
      <soap:operation soapAction='delete' style='document'/>
      <wsdl:input>
        <soap:body use='literal'/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use='literal'/>
      </wsdl:output>
      <wsdl:fault name='AbaConnectFault'>
        <soap:fault name='AbaConnectFault' use='literal'/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name='insert'>
      <soap:operation soapAction='insert' style='document'/>
      <wsdl:input>
        <soap:body use='literal'/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use='literal'/>
      </wsdl:output>
      <wsdl:fault name='AbaConnectFault'>
        <soap:fault name='AbaConnectFault' use='literal'/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name='update'>
      <soap:operation soapAction='update' style='document'/>
      <wsdl:input>
        <soap:body use='literal'/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use='literal'/>
      </wsdl:output>
      <wsdl:fault name='AbaConnectFault'>
        <soap:fault name='AbaConnectFault' use='literal'/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name='save'>
      <soap:operation soapAction='save' style='document'/>
      <wsdl:input>
        <soap:body use='literal'/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use='literal'/>
      </wsdl:output>
      <wsdl:fault name='AbaConnectFault'>
        <soap:fault name='AbaConnectFault' use='literal'/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name='defaultValues'>
      <soap:operation soapAction='defaultValues' style='document'/>
      <wsdl:input>
        <soap:body use='literal'/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use='literal'/>
      </wsdl:output>
      <wsdl:fault name='AbaConnectFault'>
        <soap:fault name='AbaConnectFault' use='literal'/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name='find'>
      <soap:operation soapAction='find' style='document'/>
      <wsdl:input>
        <soap:body use='literal'/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use='literal'/>
      </wsdl:output>
      <wsdl:fault name='AbaConnectFault'>
        <soap:fault name='AbaConnectFault' use='literal'/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name='address'>
    <wsdl:port name='address' binding='tns:addressSOAPBinding'>
      <soap:address location='http://localhost:40000/abaconnect/services/address_2018_00'/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>