src/AbaConnect_DocumentDossierAccountsReceivable/wsdl/address_2018_00/addressTypes.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!--This XSD (W3C Schema) has been written by ABACUS AbaConnect-->
<!--Created at: Tue Apr 14 10:53:25 CEST 2020-->
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' targetNamespace='http://www.abacus.ch/abaconnect/2018.00/adre/addressTypes' xmlns:addresstypes='http://www.abacus.ch/abaconnect/2018.00/adre/addressTypes' xmlns:act='http://www.abacus.ch/abaconnect/2007.10/core/AbaConnectTypes' xmlns:xmime='http://www.w3.org/2005/05/xmlmime' elementFormDefault='qualified' attributeFormDefault='unqualified'>
  <xs:import namespace='http://www.abacus.ch/abaconnect/2007.10/core/AbaConnectTypes' schemaLocation='AbaConnectTypes.xsd'/>
  <xs:import namespace='http://www.w3.org/2005/05/xmlmime' schemaLocation='xmlmime.xsd'/>
  <xs:element name='addressAbaDefault' type='addresstypes:addressAbaDefaultType'>
    <xs:annotation>
      <xs:documentation>address-Address: Address</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='addressAbaDefaultType'>
    <xs:sequence>
      <xs:element name='Address' minOccurs='0' type='addresstypes:AddressComType'/>
      <xs:element name='AdditionalData' type='act:ObjectDataType' minOccurs='0'/>
      <xs:element name='Attachment' type='addresstypes:AttachmentType' minOccurs='0'/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='AddressComType'>
    <xs:sequence>
      <xs:element name='AddressNote' minOccurs='0' maxOccurs='unbounded' type='addresstypes:AddressNoteComType'/>
      <xs:element name='AddressNumber' minOccurs='0' type='addresstypes:AddressNumberSimType'>
        <xs:annotation>
          <xs:documentation>AddressNo.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='LastName' minOccurs='0' type='addresstypes:LastNameSimType'>
        <xs:annotation>
          <xs:documentation>Last name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='FirstName' minOccurs='0' type='addresstypes:FirstNameSimType'>
        <xs:annotation>
          <xs:documentation>First name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='CodeName' minOccurs='0' type='addresstypes:CodeNameSimType'>
        <xs:annotation>
          <xs:documentation>Codename</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Country' minOccurs='0' type='addresstypes:CountrySimType'>
        <xs:annotation>
          <xs:documentation>Country</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='ZIP' minOccurs='0' type='addresstypes:ZIPSimType'>
        <xs:annotation>
          <xs:documentation>Postcode</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='City' minOccurs='0' type='addresstypes:CitySimType'>
        <xs:annotation>
          <xs:documentation>Location</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Language' minOccurs='0' type='addresstypes:LanguageSimType'>
        <xs:annotation>
          <xs:documentation>Correspondence language</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Supplement' minOccurs='0' type='addresstypes:SupplementSimType'>
        <xs:annotation>
          <xs:documentation>Additional</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Line1' minOccurs='0' type='addresstypes:Line1SimType'>
        <xs:annotation>
          <xs:documentation>Line 1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Line2' minOccurs='0' type='addresstypes:Line2SimType'>
        <xs:annotation>
          <xs:documentation>Line 2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Line3' minOccurs='0' type='addresstypes:Line3SimType'>
        <xs:annotation>
          <xs:documentation>Line 3</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Line4' minOccurs='0' type='addresstypes:Line4SimType'>
        <xs:annotation>
          <xs:documentation>Line 4</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='SalutationNumber' minOccurs='0' type='addresstypes:SalutationNumberSimType'>
        <xs:annotation>
          <xs:documentation>Title no.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='IndustryCode' minOccurs='0' type='addresstypes:IndustryCodeSimType'>
        <xs:annotation>
          <xs:documentation>Branch</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='SalutationName' minOccurs='0' type='addresstypes:SalutationNameSimType'>
        <xs:annotation>
          <xs:documentation>Salutation name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Title' minOccurs='0' type='addresstypes:TitleSimType'>
        <xs:annotation>
          <xs:documentation>Title</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Text' minOccurs='0' type='addresstypes:TextSimType1'>
        <xs:annotation>
          <xs:documentation>Text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Website' minOccurs='0' type='addresstypes:WebsiteSimType'>
        <xs:annotation>
          <xs:documentation>WWW</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Email' minOccurs='0' type='addresstypes:EmailSimType'>
        <xs:annotation>
          <xs:documentation>E-mail</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Phone1' minOccurs='0' type='addresstypes:Phone1SimType'>
        <xs:annotation>
          <xs:documentation>Telephone 1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Phone2' minOccurs='0' type='addresstypes:Phone2SimType'>
        <xs:annotation>
          <xs:documentation>Telephone 2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Mobile' minOccurs='0' type='addresstypes:MobileSimType'>
        <xs:annotation>
          <xs:documentation>Mobile</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Fax' minOccurs='0' type='addresstypes:FaxSimType'>
        <xs:annotation>
          <xs:documentation>Fax</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Free1' minOccurs='0' type='addresstypes:Free1SimType'>
        <xs:annotation>
          <xs:documentation>Free 1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Free2' minOccurs='0' type='addresstypes:Free2SimType'>
        <xs:annotation>
          <xs:documentation>Free 2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='FreeDate' minOccurs='0' type='xs:date' nillable='true'>
        <xs:annotation>
          <xs:documentation>Free date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Inactive' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>Address inactive</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='State' minOccurs='0' type='addresstypes:StateSimType'>
        <xs:annotation>
          <xs:documentation>Country</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='NumberOfContacts' minOccurs='0' type='addresstypes:NumberOfContactsSimType'>
        <xs:annotation>
          <xs:documentation>Number contacts</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='IsOrderProcessingCustomer' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>Order customer</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='IsDebtor' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>Debtor</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='IsAccountPayable' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>Vendor</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='IsPayrollAddress' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>Payroll address</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='IsHumanResourcesAddress' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>HR address</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='NameCodeAvailable' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>Name code available</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='IsInventory' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>Inventory</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='IsPayrollLight' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>PayrollLight address</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='IsWorX' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>Worx address</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='IsEPay' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>EPay address</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='IsProject' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>Project address</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='IsAbaShop' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>AbaShop address</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='IsGeneralLedgerAddress' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>G/L address</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='IsSCMAddress' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>Address used by SCMM</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='IsExternal1' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>External1 address</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='IsExternal2' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>External2 address</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='IsExternal3' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>External3 address</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='ModificationDate' minOccurs='0' type='xs:dateTime' nillable='true'>
        <xs:annotation>
          <xs:documentation>Mutation date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='ModifiedBy' minOccurs='0' type='addresstypes:ModifiedBySimType'>
        <xs:annotation>
          <xs:documentation>Modified by</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='EntryDate' minOccurs='0' type='xs:dateTime' nillable='true'>
        <xs:annotation>
          <xs:documentation>Entry date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='EnteredBy' minOccurs='0' type='addresstypes:EnteredBySimType'>
        <xs:annotation>
          <xs:documentation>Entered by</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='TextField1' minOccurs='0' type='addresstypes:TextField1SimType'>
        <xs:annotation>
          <xs:documentation>Text field 1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='TextField2' minOccurs='0' type='addresstypes:TextField2SimType'>
        <xs:annotation>
          <xs:documentation>Text field 2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='TextField3' minOccurs='0' type='addresstypes:TextField3SimType'>
        <xs:annotation>
          <xs:documentation>Text field 3</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='TextField4' minOccurs='0' type='addresstypes:TextField4SimType'>
        <xs:annotation>
          <xs:documentation>Text field 4</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='InfoField1' minOccurs='0' type='addresstypes:InfoField1SimType'>
        <xs:annotation>
          <xs:documentation>Info field 1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='InfoField2' minOccurs='0' type='addresstypes:InfoField2SimType'>
        <xs:annotation>
          <xs:documentation>Info field 2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='InfoField3' minOccurs='0' type='addresstypes:InfoField3SimType'>
        <xs:annotation>
          <xs:documentation>Infofield 3</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='InfoField4' minOccurs='0' type='addresstypes:InfoField4SimType'>
        <xs:annotation>
          <xs:documentation>Infofield 4</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='InfoField5' minOccurs='0' type='addresstypes:InfoField5SimType'>
        <xs:annotation>
          <xs:documentation>Infofield 5</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='InfoField6' minOccurs='0' type='addresstypes:InfoField6SimType'>
        <xs:annotation>
          <xs:documentation>Infofield 6</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Number1' minOccurs='0' type='addresstypes:Number1SimType'>
        <xs:annotation>
          <xs:documentation>Number 1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Number2' minOccurs='0' type='addresstypes:Number2SimType'>
        <xs:annotation>
          <xs:documentation>Number 2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Number3' minOccurs='0' type='addresstypes:Number3SimType'>
        <xs:annotation>
          <xs:documentation>Number 3</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Number4' minOccurs='0' type='addresstypes:Number4SimType'>
        <xs:annotation>
          <xs:documentation>Number 4</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Date1' minOccurs='0' type='xs:date' nillable='true'>
        <xs:annotation>
          <xs:documentation>Date 1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Date2' minOccurs='0' type='xs:date' nillable='true'>
        <xs:annotation>
          <xs:documentation>Date 2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Code1' minOccurs='0' type='addresstypes:Code1SimType'>
        <xs:annotation>
          <xs:documentation>Code 1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Code2' minOccurs='0' type='addresstypes:Code2SimType'>
        <xs:annotation>
          <xs:documentation>Code 2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Code3' minOccurs='0' type='addresstypes:Code3SimType'>
        <xs:annotation>
          <xs:documentation>Code 3</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Code4' minOccurs='0' type='addresstypes:Code4SimType'>
        <xs:annotation>
          <xs:documentation>Code 4</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo1' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo2' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo3' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 3</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo4' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 4</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo5' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 5</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo6' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 6</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo7' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 7</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo8' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 8</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo9' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 9</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo10' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 10</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo11' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 11</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo12' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 12</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo13' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 13</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo14' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 14</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo15' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 15</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo16' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 16</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo17' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 17</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo18' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 18</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo19' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 19</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo20' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 20</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo21' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 21</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo22' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 22</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo23' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 23</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo24' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 24</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo25' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 25</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo26' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 26</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo27' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 27</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo28' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 28</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo29' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 29</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='YesNo30' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>YesNo 30</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='PostRoute' minOccurs='0' type='addresstypes:PostRouteSimType'>
        <xs:annotation>
          <xs:documentation>Post route</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='IsContactOnly' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>Is used as contact only</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='SubjectType' minOccurs='0' type='addresstypes:SubjectTypeSimType'>
        <xs:annotation>
          <xs:documentation>Address type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='AANMainSubject' minOccurs='0' type='addresstypes:AANMainSubjectSimType'>
        <xs:annotation>
          <xs:documentation>Uses Address from</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='AddressBaseType' minOccurs='0' type='addresstypes:AddressBaseTypeSimType'>
        <xs:annotation>
          <xs:documentation>Address base type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='HasNoAddress' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>Has no address</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Guid' minOccurs='0' type='addresstypes:GuidSimType'>
        <xs:annotation>
          <xs:documentation>Address key</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='SuisseId' minOccurs='0' type='addresstypes:SuisseIdSimType'>
        <xs:annotation>
          <xs:documentation>SuisseId</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='SolvencyProviderId' minOccurs='0' type='addresstypes:SolvencyProviderIdSimType'>
        <xs:annotation>
          <xs:documentation>CreditworthinessSupplierID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='CommercialRegisterId' minOccurs='0' type='addresstypes:CommercialRegisterIdSimType'>
        <xs:annotation>
          <xs:documentation>CreditworthinessHR number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='SolvencyRating' minOccurs='0' type='addresstypes:SolvencyRatingSimType'>
        <xs:annotation>
          <xs:documentation>Creditworthiness index</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='SolvencyStatus' minOccurs='0' type='addresstypes:SolvencyStatusSimType'>
        <xs:annotation>
          <xs:documentation>Creditworthiness status</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='SolvencyId' minOccurs='0' type='addresstypes:SolvencyIdSimType'>
        <xs:annotation>
          <xs:documentation>CreditworthinessID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='SolvencyLastCheckDate' minOccurs='0' type='xs:date' nillable='true'>
        <xs:annotation>
          <xs:documentation>Creditworthiness refresh date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='SolvencyDataValidUntil' minOccurs='0' type='xs:date' nillable='true'>
        <xs:annotation>
          <xs:documentation>Creditworthiness ValidFrom</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='SolvencyFlag1' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>CreditworthinessFlag1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='SolvencyFlag2' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>CreditworthinessFlag2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='SolvenyAbacusRating' minOccurs='0' type='addresstypes:SolvenyAbacusRatingSimType'>
        <xs:annotation>
          <xs:documentation>CreditworthinessIndexABACUS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='SolvencyFreeDate' minOccurs='0' type='xs:date' nillable='true'>
        <xs:annotation>
          <xs:documentation>SolvencyFreeDate</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='SolvencyFreeText' minOccurs='0' type='addresstypes:SolvencyFreeTextSimType'>
        <xs:annotation>
          <xs:documentation>SolvencyFreeText</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='AddressValidAsOf' minOccurs='0' type='xs:date' nillable='true'>
        <xs:annotation>
          <xs:documentation>Valid from</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='EnterpriseId' minOccurs='0' type='addresstypes:EnterpriseIdSimType'>
        <xs:annotation>
          <xs:documentation>Enterprise Id</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='EnterpriseId2' minOccurs='0' type='addresstypes:EnterpriseId2SimType'>
        <xs:annotation>
          <xs:documentation>Enterprise Id 2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='TaxIDSwitzerland' minOccurs='0' type='addresstypes:TaxIDSwitzerlandSimType'>
        <xs:annotation>
          <xs:documentation>VAT no.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='TaxIDEuropeanUnion' minOccurs='0' type='addresstypes:TaxIDEuropeanUnionSimType'>
        <xs:annotation>
          <xs:documentation>EU UST ID no.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='NamePrefix' minOccurs='0' type='addresstypes:NamePrefixSimType'>
        <xs:annotation>
          <xs:documentation>Prefix word</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='NameAffix' minOccurs='0' type='addresstypes:NameAffixSimType'>
        <xs:annotation>
          <xs:documentation>Name affix</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='HouseNumber' minOccurs='0' type='addresstypes:HouseNumberSimType'>
        <xs:annotation>
          <xs:documentation>House number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='PriceNumberDirectSales' minOccurs='0' type='addresstypes:PriceNumberDirectSalesSimType'>
        <xs:annotation>
          <xs:documentation>Direct sale price no. proposal</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='PriceNumberAnalysis' minOccurs='0' type='addresstypes:PriceNumberAnalysisSimType'>
        <xs:annotation>
          <xs:documentation>Analysis price no. proposal</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Street' minOccurs='0' type='addresstypes:StreetSimType'>
        <xs:annotation>
          <xs:documentation>Street</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='CustomerNumber' minOccurs='0' type='addresstypes:CustomerNumberSimType'>
        <xs:annotation>
          <xs:documentation>Customer number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='SupplierNumber' minOccurs='0' type='addresstypes:SupplierNumberSimType'>
        <xs:annotation>
          <xs:documentation>Supplier number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='PostalCodeSupplement' minOccurs='0' type='addresstypes:PostalCodeSupplementSimType'>
        <xs:annotation>
          <xs:documentation>PTT supplement</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='PortraitPicture' minOccurs='0' type='addresstypes:PortraitPictureSimType'>
        <xs:annotation>
          <xs:documentation>Address picture</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='ConditionProposal' minOccurs='0' type='addresstypes:ConditionProposalSimType'>
        <xs:annotation>
          <xs:documentation>Condition proposal</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='AddressDossier' minOccurs='0' maxOccurs='unbounded' type='addresstypes:AddressDossierComType'/>
      <xs:element name='NogaCode' minOccurs='0' type='addresstypes:NogaCodeSimType'>
        <xs:annotation>
          <xs:documentation>NOGA code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='ExchangeNotes' minOccurs='0' maxOccurs='unbounded' type='addresstypes:ExchangeNotesComType'/>
      <xs:element name='Birthday' minOccurs='0' type='xs:date' nillable='true'>
        <xs:annotation>
          <xs:documentation>Birthday</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='NativeLanguage' minOccurs='0' type='addresstypes:NativeLanguageSimType'>
        <xs:annotation>
          <xs:documentation>Mother tongue</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Source' minOccurs='0' type='addresstypes:SourceSimType'>
        <xs:annotation>
          <xs:documentation>Origin</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='BeneficiaryAccount' minOccurs='0' maxOccurs='unbounded' type='addresstypes:BeneficiaryAccountComType'/>
      <xs:element name='ExtendedFields' type='act:ObjectDataType' minOccurs='0'/>
    </xs:sequence>
    <xs:attribute name='mode' use='optional' type='addresstypes:ModeSimType'/>
  </xs:complexType>
  <xs:simpleType name='ModeSimType'>
    <xs:restriction base='xs:string'>
      <xs:pattern value='SAVE'/>
      <xs:pattern value='INSERT'/>
      <xs:pattern value='UPDATE'/>
      <xs:pattern value='READ'/>
      <xs:pattern value='DELETE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name='AddressNoteComType'>
    <xs:sequence>
      <xs:element name='NoteNumber' minOccurs='0' type='addresstypes:NoteNumberSimType'>
        <xs:annotation>
          <xs:documentation>Notice number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Text' minOccurs='0' type='addresstypes:TextSimType'>
        <xs:annotation>
          <xs:documentation>Text</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name='mode' use='optional' type='addresstypes:ModeSimType'/>
  </xs:complexType>
  <xs:simpleType name='NoteNumberSimType'>
    <xs:restriction base='xs:int'>
      <xs:totalDigits value='2'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TextSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='8192'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AddressNumberSimType'>
    <xs:restriction base='xs:long'>
      <xs:totalDigits value='10'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='LastNameSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='100'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='FirstNameSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='50'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='CodeNameSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='16'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='CountrySimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='4'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ZIPSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='15'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='CitySimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='50'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='LanguageSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='6'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='SupplementSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='50'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='Line1SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='50'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='Line2SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='50'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='Line3SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='50'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='Line4SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='50'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='SalutationNumberSimType'>
    <xs:restriction base='xs:int'>
      <xs:totalDigits value='6'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='IndustryCodeSimType'>
    <xs:restriction base='xs:int'>
      <xs:totalDigits value='6'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='SalutationNameSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='50'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TitleSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='50'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TextSimType1'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='80'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='WebsiteSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='65'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='EmailSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='65'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='Phone1SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='50'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='Phone2SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='50'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='MobileSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='50'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='FaxSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='50'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='Free1SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='3'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='Free2SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='3'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='StateSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='50'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='NumberOfContactsSimType'>
    <xs:restriction base='xs:int'>
      <xs:totalDigits value='6'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ModifiedBySimType'>
    <xs:restriction base='xs:int'>
      <xs:totalDigits value='8'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='EnteredBySimType'>
    <xs:restriction base='xs:int'>
      <xs:totalDigits value='8'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TextField1SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='30'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TextField2SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='30'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TextField3SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='30'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TextField4SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='30'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='InfoField1SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='12'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='InfoField2SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='12'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='InfoField3SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='12'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='InfoField4SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='12'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='InfoField5SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='12'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='InfoField6SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='12'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='Number1SimType'>
    <xs:restriction base='xs:decimal'>
      <xs:totalDigits value='12'/>
      <xs:fractionDigits value='4'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='Number2SimType'>
    <xs:restriction base='xs:decimal'>
      <xs:totalDigits value='12'/>
      <xs:fractionDigits value='4'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='Number3SimType'>
    <xs:restriction base='xs:decimal'>
      <xs:totalDigits value='12'/>
      <xs:fractionDigits value='4'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='Number4SimType'>
    <xs:restriction base='xs:decimal'>
      <xs:totalDigits value='12'/>
      <xs:fractionDigits value='4'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='Code1SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='1'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='Code2SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='1'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='Code3SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='1'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='Code4SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='1'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='PostRouteSimType'>
    <xs:restriction base='xs:int'>
      <xs:totalDigits value='4'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='SubjectTypeSimType'>
    <xs:restriction base='xs:int'>
      <xs:totalDigits value='4'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AANMainSubjectSimType'>
    <xs:restriction base='xs:long'>
      <xs:totalDigits value='10'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AddressBaseTypeSimType'>
    <xs:restriction base='xs:int'>
      <xs:totalDigits value='6'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='GuidSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='36'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='SuisseIdSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='20'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='SolvencyProviderIdSimType'>
    <xs:restriction base='xs:int'>
      <xs:totalDigits value='4'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='CommercialRegisterIdSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='20'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='SolvencyRatingSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='10'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='SolvencyStatusSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='10'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='SolvencyIdSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='30'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='SolvenyAbacusRatingSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='10'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='SolvencyFreeTextSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='255'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='EnterpriseIdSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='15'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='EnterpriseId2SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='15'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TaxIDSwitzerlandSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='20'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TaxIDEuropeanUnionSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='15'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='NamePrefixSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='30'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='NameAffixSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='30'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='HouseNumberSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='9'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='PriceNumberDirectSalesSimType'>
    <xs:restriction base='xs:int'>
      <xs:totalDigits value='4'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='PriceNumberAnalysisSimType'>
    <xs:restriction base='xs:int'>
      <xs:totalDigits value='4'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='StreetSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='50'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='CustomerNumberSimType'>
    <xs:restriction base='xs:long'>
      <xs:totalDigits value='12'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='SupplierNumberSimType'>
    <xs:restriction base='xs:long'>
      <xs:totalDigits value='12'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='PostalCodeSupplementSimType'>
    <xs:restriction base='xs:int'>
      <xs:totalDigits value='2'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='PortraitPictureSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='255'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ConditionProposalSimType'>
    <xs:restriction base='xs:int'>
      <xs:totalDigits value='6'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name='AddressDossierComType'>
    <xs:sequence>
      <xs:element name='Name' type='addresstypes:NameSimType'>
        <xs:annotation>
          <xs:documentation>Archive name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Type' type='addresstypes:TypeSimType'>
        <xs:annotation>
          <xs:documentation>Archive type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='ArchiveYear' minOccurs='0' type='addresstypes:ArchiveYearSimType'>
        <xs:annotation>
          <xs:documentation>Year of archive</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Description' minOccurs='0' type='addresstypes:DescriptionSimType'>
        <xs:annotation>
          <xs:documentation>File description</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Application' minOccurs='0' type='addresstypes:ApplicationSimType'>
        <xs:annotation>
          <xs:documentation>Application</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Object' minOccurs='0' type='addresstypes:ObjectSimType'>
        <xs:annotation>
          <xs:documentation>File object ID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='UDK' minOccurs='0' type='addresstypes:UDKSimType'>
        <xs:annotation>
          <xs:documentation>UDK</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='DocumentId' minOccurs='0' type='addresstypes:DocumentIdSimType'>
        <xs:annotation>
          <xs:documentation>Document ID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='ArchiveID' minOccurs='0' type='addresstypes:ArchiveIDSimType'>
        <xs:annotation>
          <xs:documentation>Archive ID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='HashModified' minOccurs='0' type='addresstypes:HashModifiedSimType'>
        <xs:annotation>
          <xs:documentation>Modification hash</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='ModifiedTimestamp' minOccurs='0' type='addresstypes:ModifiedTimestampSimType'>
        <xs:annotation>
          <xs:documentation>Modification date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='FileSize' minOccurs='0' type='addresstypes:FileSizeSimType'>
        <xs:annotation>
          <xs:documentation>File size</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='FileName' minOccurs='0' type='addresstypes:FileNameSimType'>
        <xs:annotation>
          <xs:documentation>File name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='OriginalFilename' type='addresstypes:OriginalFilenameSimType'>
        <xs:annotation>
          <xs:documentation>Original file name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name='mode' use='optional' type='addresstypes:ModeSimType'/>
  </xs:complexType>
  <xs:simpleType name='NameSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='50'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TypeSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='7'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ArchiveYearSimType'>
    <xs:restriction base='xs:int'>
      <xs:totalDigits value='4'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DescriptionSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='200'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ApplicationSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='4'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ObjectSimType'>
    <xs:restriction base='xs:int'>
      <xs:totalDigits value='8'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='UDKSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='26'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DocumentIdSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='36'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ArchiveIDSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='36'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='HashModifiedSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='40'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ModifiedTimestampSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='30'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='FileSizeSimType'>
    <xs:restriction base='xs:long'>
      <xs:totalDigits value='12'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='FileNameSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='250'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='OriginalFilenameSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='250'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='NogaCodeSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='10'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name='ExchangeNotesComType'>
    <xs:sequence>
      <xs:element name='Content' minOccurs='0' type='addresstypes:ContentSimType'>
        <xs:annotation>
          <xs:documentation>Content</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='NoteAttachment' minOccurs='0' maxOccurs='unbounded' type='addresstypes:NoteAttachmentComType'/>
    </xs:sequence>
    <xs:attribute name='mode' use='optional' type='addresstypes:ModeSimType'/>
  </xs:complexType>
  <xs:simpleType name='ContentSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='99999999'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name='NoteAttachmentComType'>
    <xs:sequence>
      <xs:element name='ContentId' minOccurs='0' type='addresstypes:ContentIdSimType'>
        <xs:annotation>
          <xs:documentation>Content id</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Attachmentname' minOccurs='0' type='addresstypes:AttachmentnameSimType'>
        <xs:annotation>
          <xs:documentation>Attachment name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='FilePath' type='addresstypes:FilePathSimType'>
        <xs:annotation>
          <xs:documentation>File path</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name='mode' use='optional' type='addresstypes:ModeSimType'/>
  </xs:complexType>
  <xs:simpleType name='ContentIdSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='180'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AttachmentnameSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='255'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='FilePathSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='255'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='NativeLanguageSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='6'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='SourceSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='100'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name='BeneficiaryAccountComType'>
    <xs:sequence>
      <xs:element name='BeneficiaryNr' type='addresstypes:BeneficiaryNrSimType'>
        <xs:annotation>
          <xs:documentation>Beneficiary number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='BeneficiaryType' minOccurs='0' type='addresstypes:BeneficiaryTypeSimType'>
        <xs:annotation>
          <xs:documentation>Beneficiary type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='BeneficiaryCountry' minOccurs='0' type='addresstypes:BeneficiaryCountrySimType'>
        <xs:annotation>
          <xs:documentation>Central bank table country</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='BeneficiaryAccountNumber' minOccurs='0' type='addresstypes:BeneficiaryAccountNumberSimType'>
        <xs:annotation>
          <xs:documentation>Account</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='BankNumber' minOccurs='0' type='addresstypes:BankNumberSimType'>
        <xs:annotation>
          <xs:documentation>Central bank table no.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='TaxType' minOccurs='0' type='addresstypes:TaxTypeSimType'>
        <xs:annotation>
          <xs:documentation>Tax type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='PostfinanceExpressDelivery' minOccurs='0' type='addresstypes:PostfinanceExpressDeliverySimType'>
        <xs:annotation>
          <xs:documentation>Urgent</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='PostfinancePersonal' minOccurs='0' type='addresstypes:PostfinancePersonalSimType'>
        <xs:annotation>
          <xs:documentation>SAD</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Inactive' minOccurs='0' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation>Inactive</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='AdditionalDetail' minOccurs='0' maxOccurs='unbounded' type='addresstypes:AdditionalDetailComType'/>
    </xs:sequence>
    <xs:attribute name='mode' use='optional' type='addresstypes:ModeSimType'/>
  </xs:complexType>
  <xs:simpleType name='BeneficiaryNrSimType'>
    <xs:restriction base='xs:int'>
      <xs:totalDigits value='2'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='BeneficiaryTypeSimType'>
    <xs:restriction base='xs:int'>
      <xs:totalDigits value='2'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='BeneficiaryCountrySimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='2'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='BeneficiaryAccountNumberSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='34'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='BankNumberSimType'>
    <xs:restriction base='xs:long'>
      <xs:totalDigits value='10'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TaxTypeSimType'>
    <xs:restriction base='xs:int'>
      <xs:totalDigits value='1'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='PostfinanceExpressDeliverySimType'>
    <xs:restriction base='xs:int'>
      <xs:totalDigits value='1'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='PostfinancePersonalSimType'>
    <xs:restriction base='xs:int'>
      <xs:totalDigits value='2'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name='AdditionalDetailComType'>
    <xs:sequence>
      <xs:element name='CorrespondentBankCountry' minOccurs='0' type='addresstypes:CorrespondentBankCountrySimType'>
        <xs:annotation>
          <xs:documentation>Correspondence bank - country</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='CorrespondentBankAccountNumber' minOccurs='0' type='addresstypes:CorrespondentBankAccountNumberSimType'>
        <xs:annotation>
          <xs:documentation>Account number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='CorrespondentBankNumber' minOccurs='0' type='addresstypes:CorrespondentBankNumberSimType'>
        <xs:annotation>
          <xs:documentation>Correspondence bank - number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='ParticipantId' minOccurs='0' type='addresstypes:ParticipantIdSimType'>
        <xs:annotation>
          <xs:documentation>ESR Tno.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='ParticipantNumber' minOccurs='0' type='addresstypes:ParticipantNumberSimType'>
        <xs:annotation>
          <xs:documentation>ESR account</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='TransferInstruction1' minOccurs='0' type='addresstypes:TransferInstruction1SimType'>
        <xs:annotation>
          <xs:documentation>Instructions 1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='TransferInstruction2' minOccurs='0' type='addresstypes:TransferInstruction2SimType'>
        <xs:annotation>
          <xs:documentation>Instructions 2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='TransferReason3' minOccurs='0' type='addresstypes:TransferReason3SimType'>
        <xs:annotation>
          <xs:documentation>Motive 3</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='TransferReason4' minOccurs='0' type='addresstypes:TransferReason4SimType'>
        <xs:annotation>
          <xs:documentation>Motive 4</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name='mode' use='optional' type='addresstypes:ModeSimType'/>
  </xs:complexType>
  <xs:simpleType name='CorrespondentBankCountrySimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='2'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='CorrespondentBankAccountNumberSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='50'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='CorrespondentBankNumberSimType'>
    <xs:restriction base='xs:long'>
      <xs:totalDigits value='12'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ParticipantIdSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='27'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ParticipantNumberSimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='34'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TransferInstruction1SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='30'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TransferInstruction2SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='30'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TransferReason3SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='30'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TransferReason4SimType'>
    <xs:restriction base='xs:string'>
      <xs:maxLength value='30'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name='AttachmentType'>
    <xs:sequence>
      <xs:element name='BinaryData' type='addresstypes:BinaryDataType' maxOccurs='unbounded'/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='BinaryDataType'>
    <xs:sequence>
      <xs:element name='Name' type='xs:string'/>
      <xs:element name='BinData' type='xmime:base64Binary'/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>